<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Font Style -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="container-fluid">
      <%= link_to 'HBC', new_session_path, class: 'navbar-brand', style: 'color: white; font-size: 40px;' %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarContent", style="float-right">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 24px; padding: 13px 16px;">
            <span class="glyphicon glyphicon-menu-hamburger" style="color: white;"></span>
          </a>
          <ul class="dropdown-menu">
              <!-- Need to create a new page introducing the app -->
              <li><a>About</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>

  .login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }

  .login-box {
    background-color: #fff;
    padding: 20px 50px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    padding: 5px;
    text-align: center;
  }

  .mt-3 {
    margin-top: 1rem;
  }
</style>
