<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="splash-container">
  <div class="splash-content">
    <div class="splash-image">
      <%= image_tag asset_path("login.jpeg"), alt: "Splash Image", class: "img-fluid" %>
    </div>
    <div class="splash-text">
      <%= image_tag "logo-dark.png"%>
      <h2 class="splash-title">Unlock Your Potential with Healthy Behaviors Challenge</h2>
      <p class="splash-description">Achieve your fitness goals and lead a healthier life with our App – your ultimate companion for tracking challenges, nutrition, and progress.</p>
      <button class="btn btn-primary btn-lg" onclick="hideSplash()">Begin Here!</button>
    </div>
  </div>
  <span class="close-icon" onclick="hideSplash()">&times;</span>
</div>

<style>
  .splash-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .splash-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .splash-text {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 24px;
    cursor: pointer;
  }

  .splash-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }

  .splash-description {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
  }

  @media (min-width: 768px) {
    .splash-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 50px;
    }

    .splash-image {
      flex: 1;
      max-width: 50%;
      margin-right: 50px;
      margin-bottom: 0;
    }

    .splash-text {
      flex: 1;
      max-width: 50%;
      text-align: center;
    }

    .splash-title {
      font-size: 32px;
      margin-bottom: 20px;
      text-align: left;
    }

    .splash-description {
      font-size: 18px;
      margin-bottom: 30px;
      text-align: left;
    }
  }
</style>

<!-- Style for form -->


<script>
  function hideSplash() {
    document.querySelector('.splash-container').style.display = 'none';
  }
</script>